
body {
    background-color: #808080;
}

.rio {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  width: 70vh;
  height: 70vh;
}

@media (max-width: 600px) {
  .rio {
    width: 90vw; /* Adjust width to occupy 90% of the viewport width */
    height: 250vw; /* Adjust height to occupy 90% of the viewport width */
    max-width: 600px; /* Set a maximum width */
    max-height: 800px; /* Set a maximum height */
  }
}

